.about {

  .about__team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include spacer(1);
    
    img {
      border-radius: 100%;
      width: 225px;
      height: 225px;
    }
  }

  .about__description {
    color: $gray;

    .about__description-highlight {
      color: $green;  
      font-weight: bold;
    }
  }
}