.services {
  .service-description {
    background-color: $gray;
  }

  .service__list {
    @include spacer(2);

    .service__list-item {
      text-transform: uppercase;
      color: $green;
    }
  }

  .service__list-messaging {
    @include spacer(3);
    @extend .oswald__bold_2;
    color: $white;
  }

  .service__certification-logo {
    @include spacer(1);
  }

  .services__description {
    color: $gray;
  }
}