body {
  font-family: 'Oswald', sans-serif;
  background-color: #00193f;
}

.spacer {
  padding-top: rem-calc(60px);
  padding-bottom: rem-calc(60px);

  @include media-breakpoint-up(lg) {
    padding-top: rem-calc(80px);
    padding-bottom: rem-calc(80px);
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  margin-bottom: rem-calc(20px);
}
