<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="icon">Icon</div>
        <div class="message">CELEBRATING 40 YEARS</div>
        <div class="cta"><button class="hiring">We're Hiring</button></div>
        <div class="copyright">Copyright</div>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <h4 class="contact">Contact</h4>
        <ul>
          <li>Whittemores Landscape Design</li>
          <li>305 Bedford Street</li>
          <li>East Bridgewater, MA 02333</li>
        </ul>
        <h4>WHITEMORESLANDSCAPING@GMAIL>COM</h4>
      </div>
      <div class="col-lg-2">
        <ul>
          <li><a href="#services" class="links">SERVICES</a></li>
          <li><a href="#our-work" class="links">OUR WORK</a></li>
          <li><a href="#about" class="links">ABOUT</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <p>connect</p>
        <ul>
          <li class="social-icons">FB</li>
          <li class="social-icons">IG</li>
        </ul>
        <p>REVIEW US</p>
      </div>
    </div>
  </div>
</div>