{# <div class="carousel">
    <img src="https://via.placeholder.com/1920x1080"
      alt=""
      class="carousel-image">
    <img src="https://via.placeholder.com/1080x1080"
      alt=""
      class="carousel-image">
    <img src="https://via.placeholder.com/1080x1920"
      alt=""
      class="carousel-image">
    <img src="https://via.placeholder.com/1920x1080"
      alt=""
      class="carousel-image">
    <img src="https://via.placeholder.com/1920x1080"
      alt=""
      class="carousel-image">
</div> #}

<div>gallery goes here</div>