<div class="owl-carousel owl-theme">
  <div class="item">
    <img src="https://via.placeholder.com/800x600"
      alt=""
      class="carousel-image">
  </div>
  <div class="item">
    <img src="https://via.placeholder.com/1920x1080"
      alt=""
      class="carousel-image">
  </div>
  <div class="item">
    <img src="https://via.placeholder.com/600x800"
      alt=""
      class="carousel-image">
  </div>
  <div class="item">
    <img src="https://via.placeholder.com/800x600"
      alt=""
      class="carousel-image">
  </div>
  <div class="item">
    <img src="https://via.placeholder.com/600x800"
      alt=""
      class="carousel-image">
  </div>
</div>