<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 432 432" style="enable-background:new 0 0 432 432;" xml:space="preserve">
<style type="text/css">
	.st0{clip-path:url(#SVGID_2_);fill:#162850;}
	.st1{clip-path:url(#SVGID_2_);fill:#C9DE7B;}
	.st2{clip-path:url(#SVGID_4_);}
	.st3{fill:#00193F;}
	.st4{fill:#162850;}
</style>
<title>40thanniversary</title>
<g>
	<defs>
		<rect id="SVGID_1_" x="-0.4" y="-0.4" width="432.4" height="432.4"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<path class="st0" d="M432,215.8C432,335.2,335.2,432,215.8,432S-0.4,335.2-0.4,215.8S96.4-0.4,215.8-0.4S432,96.4,432,215.8"/>
	<path class="st1" d="M432,215.8C432,335.2,335.2,432,215.8,432S-0.4,335.2-0.4,215.8S96.4-0.4,215.8-0.4S432,96.4,432,215.8"/>
</g>
<g>
	<defs>
		
			<ellipse id="SVGID_3_" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -89.3975 215.8236)" cx="215.8" cy="215.8" rx="216.2" ry="216.2"/>
	</defs>
	<clipPath id="SVGID_4_">
		<use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
	</clipPath>
	<g class="st2">
		<path class="st3" d="M17.2,231.1l126.9-97.7h28.6v104.9h25.8v17.1h-25.8v32.4H153v-32.4H17.2V231.1z M153,148.4L36.8,237.9v0.4
			H153V148.4z"/>
		<path class="st3" d="M225.3,183.3c0-33.5,11.3-51.6,53.1-51.6h73.4c41.8,0,53.1,18.1,53.1,51.6v54.6c0,33.5-11.3,51.6-53.1,51.6
			h-73.4c-41.8,0-53.1-18.1-53.1-51.6V183.3z M385.3,193.1c0-40.1-6-44.4-46.9-44.4h-46.5c-40.9,0-46.9,4.3-46.9,44.4v35
			c0,40.1,6,44.4,46.9,44.4h46.5c40.9,0,46.9-4.3,46.9-44.4V193.1z"/>
	</g>
	<g class="st2">
		<path class="st3" d="M160.4,353c8.4,0,10.2-0.6,13-7.1h-1.3l-18.4-32.9h6.2l15.7,28.6l14.1-28.6h5.9l-18.3,36.4
			c-3.4,6.7-5.7,7.9-16.9,8.1V353z"/>
		<path class="st3" d="M199.5,325.5c0-11.7,8.1-13.1,15.9-13.1h8.8c9.8,0,16.8,2.5,16.8,14v3.6h-36v2c0,7.4,3.6,9.3,13.1,9.3h7.5
			c6.9,0,9.7-0.9,10-5.8h5.5v0.6c0,7.4-6.2,9.7-16.3,9.7h-9.9c-7.1,0-15.2-1.3-15.2-13.3V325.5z M235.5,323.5
			c0-3.3-2.5-6.6-11.4-6.6h-8c-8.6,0-10.7,1.4-11.2,8.8h30.5V323.5z"/>
		<path class="st3" d="M283.1,342.1h-0.1c-1.5,2.9-3.2,3.7-11.6,3.7h-13.1c-8.3,0-10.4-3.6-10.4-9.7V334c0-7.4,5.2-8.3,14.7-8.3h8.8
			c7.1,0,9.7,0.8,11.6,3.9h0.1v-6.1c0-5.8-3.7-6.6-12.1-6.6h-8c-6.9,0-8.2,1.7-8.2,4.3v1.1h-5.5v-1.6c0-5.9,3.7-8.3,13.5-8.3h8.6
			c10.2,0,17,1.5,17,11.2v21.7h-5.5V342.1z M283.1,335.2c0-4.4-3.9-5-12.3-5h-8.4c-7,0-9,1-9,5.1v1c0,3.6,1.3,5.1,8.8,5.1h7.2
			c9.9,0,13.7-0.7,13.7-4.8V335.2z"/>
		<path class="st3" d="M298.6,312.9h5.1v4.7h0.1c2-4.2,6.2-5.2,9.9-5.2h5.1c10.2,0,13.6,3.3,13.6,11.2v3.9h-5.1v-1.4
			c0-8-1.7-9.3-11.4-9.3h-3.4c-5.8,0-8.6,3.7-8.6,7.9v20.6h-5.5V312.9z"/>
		<path class="st3" d="M337.7,334.2h5.1v1.6c0,4,2.1,5.7,7.7,5.7h11.7c8.2,0,10.8-0.3,10.8-5.1V336c0-3.1-0.9-4.8-7.4-4.8h-16.8
			c-7.7,0-10.5-2.5-10.5-8.6v-1.9c0-5.3,3-8.2,16.4-8.2h8.4c12.3,0,14,3.6,14,8.1v1.7H372V322c0-5-3.3-5.1-9.3-5.1h-9.5
			c-7.8,0-9.5,0.8-9.5,4.4v1.2c0,2.7,0.9,4.2,6.6,4.2h14.4c8.2,0,13.8,0.8,13.8,9.6v0.1c0,9.1-8.4,9.4-15.1,9.4h-10
			c-8.1,0-15.6,0-15.6-9.7V334.2z"/>
	</g>
</g>
<g>
	<path class="st4" d="M30.9,176.5c4.2,0.7,5,2.2,4.1,6.9c-0.9,5.1-2.2,6.7-7.9,5.7l-6.5-1.2c-5.7-1-6.3-2.9-5.4-8
		c0.8-4.3,1.6-5.9,6.1-5.1l1.4,0.2l-0.3,1.7l-1.3-0.2c-3-0.5-3.5,0.4-4.1,3.7c-0.8,4.4-0.3,5.1,4,5.8l6.3,1.1c4.3,0.8,5,0.3,5.8-4.1
		c0.7-3.9-0.1-4.4-2.7-4.9l-1.3-0.2l0.3-1.7L30.9,176.5z"/>
</g>
<g>
	<path class="st4" d="M17.4,170.1l2.6-10.2l1.8,0.5l-2.2,8.4l6.4,1.7l2.1-7.9l1.8,0.5l-2.1,7.9l7.1,1.8l2.2-8.3l1.8,0.5L36.5,175
		L17.4,170.1z"/>
</g>
<g>
	<path class="st4" d="M21.3,155.9l0.6-1.8l16.7,5.6l2.6-7.9l2,0.7l-3.2,9.7L21.3,155.9z"/>
</g>
<g>
	<path class="st4" d="M25.7,143l4.1-9.7l1.8,0.7l-3.3,8l6.1,2.5l3.2-7.6l1.8,0.7l-3.2,7.6l6.8,2.8l3.3-7.9l1.8,0.7l-4,9.7L25.7,143z
		"/>
</g>
<g>
	<path class="st4" d="M31.5,129.4l3.5-6.9c1.7-3.3,3.4-3.3,6.2-1.8c2.2,1.1,3.3,1.9,3.2,3.9l0,0c1.4-1.7,2.9-1.2,5.7,0.2
		c3.1,1.6,4.1,3.3,2.4,6.6l-3.5,6.9L31.5,129.4z M40,131.6l2.6-5.2c1-1.9,0-2.9-1.8-3.8c-1.8-0.9-3-1.5-4.1,0.7l-2.7,5.2L40,131.6z
		 M48.2,135.8l2.5-4.8c1.3-2.6,0.7-3.3-1.8-4.6c-2.5-1.3-3.4-1.3-4.8,1.3l-2.5,4.8L48.2,135.8z"/>
</g>
<g>
	<path class="st4" d="M39.4,114.5l4.3-6.8c1.8-2.9,3.5-3.4,7.2-1.1c2.9,1.8,3.7,3.1,3.1,4.9l0,0c1.2-1.1,2.5-1,4.1,0l4.6,2.9l-1,1.6
		l-3.8-2.4c-2.2-1.4-3.3-1.2-4.9,1.3l-2.6,4.2l6.7,4.2l-1,1.6L39.4,114.5z M48.8,118.1l3.3-5.2c1.1-1.7,0.4-3.1-1.9-4.5
		c-3.1-2-3.6-1.7-5.2,0.8l-3,4.7L48.8,118.1z"/>
</g>
<g>
	<path class="st4" d="M67.5,100.9l-5.1,6.8l2.6,3.5l-1.2,1.6L51.7,96l1.6-2.1l19.4,6.9l-1.2,1.6L67.5,100.9z M54.1,95.9L54,96.2
		l7.3,9.8l4.4-5.8L54.1,95.9z"/>
</g>
<g>
	<path class="st4" d="M62,86.1l-3.5,4.1l-1.4-1.2l8.3-9.6l1.4,1.2l-3.5,4.1l13.4,11.6l-1.2,1.4L62,86.1z"/>
</g>
<g>
	<path class="st4" d="M67.5,77.2l1.3-1.4L83,89.5l-1.3,1.4L67.5,77.2z"/>
</g>
<g>
	<path class="st4" d="M72,72.5l2.2-2.1l18.5,6.9l0,0l-12-12.9l1.4-1.3l13.4,14.4l-2.2,2.1l-18.5-6.9l0,0l12,12.9l-1.4,1.3L72,72.5z"
		/>
</g>
<g>
	<path class="st4" d="M96.7,64.2l5.6-4.3l2.7,3.5c3.2,4.2,1.5,5.8-1.8,8.3c-4.1,3.2-6.1,3.5-9.6-1.1l-4-5.3
		c-3.5-4.6-2.7-6.4,1.4-9.6c3.1-2.4,5.4-3.7,7.7-0.8l1.2,1.6l-1.5,1.2l-0.4-0.6c-1.8-2.4-2.6-2.3-5.8,0.1c-3.5,2.7-3.6,3.5-1,7
		l3.9,5.1c2.7,3.4,3.5,3.6,7,0.8c3-2.3,3.7-2.9,1.2-6.1l-1.2-1.5l-4,3.1L96.7,64.2z"/>
</g>
<g>
	<path class="st4" d="M109.5,50.9c-2.9-5-1.9-6.7,2.6-9.3c4.5-2.6,6.5-2.6,9.4,2.3l3.3,5.7c2.9,5,1.9,6.7-2.6,9.3
		c-4.5,2.6-6.5,2.6-9.4-2.3L109.5,50.9z M119.9,45c-2.2-3.8-3-4-6.8-1.7c-3.9,2.2-4,3.1-1.8,6.8l3.2,5.5c2.2,3.8,3,4,6.8,1.7
		c3.9-2.2,4-3.1,1.8-6.8L119.9,45z"/>
</g>
<g>
	<path class="st4" d="M122.1,36.2l1.7-0.8l6.5,13.8c0.9,1.9,2.1,2.1,5.2,0.6c3.2-1.5,3.8-2.5,2.9-4.4L132,31.6l1.7-0.8L140,44
		c1.8,3.8,0.6,5.5-3.6,7.5c-4.2,2-6.2,1.8-8-2L122.1,36.2z"/>
</g>
<g>
	<path class="st4" d="M138,29l7.6-2.8c3.2-1.2,4.9-0.5,6.4,3.6c1.2,3.2,1,4.7-0.5,5.8l0,0.1c1.6-0.1,2.6,0.8,3.2,2.5l1.9,5.1
		l-1.8,0.7l-1.5-4.2c-0.9-2.4-1.9-3-4.7-1.9l-4.6,1.7l2.7,7.4l-1.8,0.7L138,29z M143.2,37.6l5.8-2.1c1.9-0.7,2.2-2.1,1.3-4.7
		c-1.3-3.5-1.8-3.6-4.6-2.6l-5.2,1.9L143.2,37.6z"/>
</g>
<g>
	<path class="st4" d="M173.7,33.9l-9.1,2.1l-0.6-2.6l5.4-14.1l2.8-0.6l3,13l2.4-0.6l0.4,1.9l-2.4,0.6l1,4.3l-1.9,0.4L173.7,33.9z
		 M170.7,21L170.7,21l-5,12.9l7.5-1.7L170.7,21z"/>
</g>
<g>
	<path class="st4" d="M192.2,29.3c0.8,5.3-0.8,6.3-5.3,7c-4.5,0.7-6.3,0.2-7.1-5.1l-1.2-7.8c-0.8-5.3,0.8-6.3,5.3-7
		c4.5-0.7,6.3-0.2,7.1,5.1L192.2,29.3z M189.1,21.2c-0.5-3.5-1.4-3.5-4.8-3c-3.4,0.5-4.3,0.7-3.8,4.2l1.3,8.9c0.5,3.5,1.4,3.5,4.8,3
		c3.4-0.5,4.3-0.7,3.8-4.2L189.1,21.2z"/>
</g>
<g>
	<path class="st4" d="M198.4,16.9l-5.4,0.4l-0.1-1.9l12.6-0.9l0.1,1.9l-5.4,0.4l1.3,17.7l-1.9,0.1L198.4,16.9z"/>
</g>
<g>
	<path class="st4" d="M208.6,14.4l1.9,0l-0.1,8.5l9.5,0.1l0.1-8.5l1.9,0l-0.2,19.7l-1.9,0l0.1-9.1l-9.5-0.1l-0.1,9.1l-1.9,0
		L208.6,14.4z"/>
</g>
<g>
	<path class="st4" d="M242.8,32.2l-8.4-1.1l-1.8,4l-2-0.3l8.7-18.7l2.6,0.4l3.5,20.3l-2-0.3L242.8,32.2z M240.5,18.2l-0.3,0l-5,11.1
		l7.2,1L240.5,18.2z"/>
</g>
<g>
	<path class="st4" d="M251.3,17.9l2.9,0.7l4.7,19.1l0.1,0l3.9-17.2l1.9,0.4l-4.3,19.2l-2.9-0.7l-4.7-19.1l-0.1,0l-3.9,17.2l-1.9-0.4
		L251.3,17.9z"/>
</g>
<g>
	<path class="st4" d="M269.3,22.1l2.9,0.9l3,19.5l0.1,0l5.4-16.8l1.8,0.6l-6.1,18.7l-2.9-0.9l-3-19.5l-0.1,0l-5.4,16.8l-1.8-0.6
		L269.3,22.1z"/>
</g>
<g>
	<path class="st4" d="M286.8,28.2l1.8,0.7l-7.2,18.3l-1.8-0.7L286.8,28.2z"/>
</g>
<g>
	<path class="st4" d="M291.6,30l1.8,0.8l-2.7,18.4l0,0L303,35.2l1.8,0.8l-13.6,15.4l-2.4-1.1L291.6,30z"/>
</g>
<g>
	<path class="st4" d="M307.5,37.5l9.2,5.2l-0.9,1.7l-7.5-4.2l-3.2,5.8l7.2,4l-0.9,1.7l-7.2-4l-3.6,6.4l7.5,4.2l-0.9,1.7l-9.2-5.1
		L307.5,37.5z"/>
</g>
<g>
	<path class="st4" d="M320.4,44.9l6.7,4.5c2.9,1.9,3.3,3.6,0.8,7.3c-1.9,2.8-3.2,3.6-5,2.9l0,0c1,1.2,0.9,2.5-0.1,4.1l-3,4.5
		l-1.6-1.1l2.5-3.7c1.5-2.2,1.3-3.3-1.2-4.9l-4.1-2.8l-4.4,6.6l-1.6-1.1L320.4,44.9z M316.5,54.1l5.1,3.4c1.6,1.1,3,0.5,4.6-1.7
		c2.1-3.1,1.8-3.6-0.6-5.2l-4.6-3.1L316.5,54.1z"/>
</g>
<g>
	<path class="st4" d="M325.9,65l1.4,1.1l-0.7,0.9c-1.8,2.3-1.6,3,1.3,5.3c2.9,2.3,3.4,2.5,5.7-0.5c1.6-2,2-2.5-0.8-5.2l-1.5-1.4
		c-2.4-2.3-2.3-3.7,0-6.6c3-3.7,4.5-3.3,8-0.5c3.7,3,3.9,4.4,1.2,8L339,65l0.3-0.3c1.6-2,1.3-3.1-1.3-5.1c-2.9-2.3-3.5-2.1-5.3,0.2
		c-1.7,2.2-1.7,2.9,1,5.3c3.6,3.3,4.1,4.4,1.1,8.1c-2.9,3.6-4.7,3.3-8.2,0.6c-3.5-2.8-4.2-4.5-1.7-7.6L325.9,65z"/>
</g>
<g>
	<path class="st4" d="M343.9,83.1l-6.2-5.8l-3.8,2.2l-1.4-1.4l18-10.1l1.9,1.8l-9,18.6l-1.4-1.4L343.9,83.1z M350.2,70.4l-0.2-0.2
		l-10.6,6.1l5.3,5L350.2,70.4z"/>
</g>
<g>
	<path class="st4" d="M359.3,76.5l5.3,6.1c2.3,2.6,2.2,4.4-1.1,7.2c-2.6,2.2-4,2.6-5.6,1.5l0,0c0.7,1.5,0.2,2.7-1.2,3.9l-4.1,3.5
		l-1.3-1.4l3.4-3c2-1.7,2.1-2.8,0.1-5.1l-3.3-3.7l-6,5.2l-1.3-1.4L359.3,76.5z M353.1,84.4l4.1,4.6c1.3,1.5,2.8,1.3,4.8-0.5
		c2.8-2.4,2.7-3,0.8-5.2l-3.7-4.2L353.1,84.4z"/>
</g>
<g>
	<path class="st4" d="M363.8,99.6l5.4-11.9l1.2,1.6l-4.5,9.9l10.7-1.8l1.2,1.6l-12.9,2.1l-6.5,5l-1.2-1.5L363.8,99.6z"/>
</g>
<g>
	<path class="st4" d="M365.2,111.1l1.1,1.6l-2.1,1.4l-1.1-1.6L365.2,111.1z M379.3,101.3l1.1,1.6l-11.8,8.1l-1.1-1.6L379.3,101.3z"
		/>
</g>
</svg>
