<svg id="Layer_1"
  data-name="Layer 1"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 277.96 32.24">
  <defs>
    <style>
      .cls-1 {
        fill: none
      }

      .cls-2 {
        fill: #c9de7b
      }

      .cls-3 {
        clip-path: url(#clip-path)
      }

      .cls-4 {
        fill: #fff
      }
    </style>
    <clipPath id="clip-path">
      <path class="cls-1"
        d="M0 0h278v32.24H0z" />
    </clipPath>
  </defs>
  <title>whittemores_logo2</title>
  <path class="cls-2"
    d="M28.13.2L24.2 13.77h-.05L19.46.2h-5.25l-4.7 13.57h-.05L5.53.2H0l5.99 18.47h6.5L16.8 6.48h.06l4.31 12.19h6.5L33.66.2h-5.53zM53.35.2v6.58H41.41V.2h-5.66v18.47h5.66v-6.99h11.94v6.99h5.66V.2h-5.66zM63.14.2h5.66v18.46h-5.66zM71.58.2v4.59h7.96v13.88h5.66V4.79h7.96V.2H71.58zM94.28.2v4.59h7.96v13.88h5.66V4.79h7.96V.2H94.28zM118.33.2v18.47h20.53v-4.44h-14.87v-2.96h13.77V7.45h-13.77V4.49h14.54V.2h-20.2zM163.78.2l-6.41 11.89L150.97.2h-8.69v18.47h5.51V5.41h.05l7.42 13.26h4.23l7.42-13.26h.05v13.26h5.51V.2h-8.69z" />
  <g class="cls-3">
    <path class="cls-2"
      d="M181.7 10.43c0 2.68.57 3.7 3.24 3.7h7.25c2.67 0 3.23-1 3.23-3.7v-2c0-2.29-.56-3.7-3.54-3.7h-6.63c-3 0-3.55 1.41-3.55 3.7zm-5.81-3.75c0-5.4 3-6.68 8.14-6.68h9.07c5.1 0 8.14 1.28 8.14 6.68v5.51c0 5.41-3 6.68-8.14 6.68H184c-5.1 0-8.14-1.27-8.14-6.68zM210.32 9.28h9.36c1.53 0 2.09-.61 2.09-1.94v-.61c0-1.63-.82-1.94-2.6-1.94h-8.85zM204.66.2h17.08c4.36 0 5.54 2.17 5.54 5.49v1.17c0 2.47-.57 3.93-3.17 4.54 1.69.31 3.09 1 3.09 4.08v3.14h-5.66v-2.17c0-1.94-.56-2.58-2.32-2.58h-8.9v4.8h-5.66z" />
  </g>
  <path class="cls-2"
    d="M231.1.2v18.47h20.53v-4.44h-14.87v-2.96h13.77V7.45h-13.77V4.49h14.54V.2h-20.2z" />
  <path class="cls-3 cls-2"
    d="M254.72 12.62h5.66c0 2 .81 2.12 2.45 2.12h6.93c1.2 0 2.43-.13 2.43-1.56 0-1.6-.67-1.7-8-1.7-8.52 0-9.49-1-9.49-5.56 0-3.34.31-5.92 7.45-5.92h7.9c6.53 0 7.14 2.22 7.14 5.46V6h-5.66c0-1.35-.15-1.91-2.75-1.91h-6.27c-1.28 0-2.15.44-2.15 1.43 0 1.61.69 1.66 6.76 1.63 8.8 0 10.84.51 10.84 5.89 0 5-1.68 5.79-9.21 5.79h-6.86c-5.15 0-7.21-1-7.21-5z" />
  <path class="cls-4"
    d="M6.02 26.65v5.56l5.35-.01v-1.04H7.3v-4.51H6.02zM17.74 27.54l1.51 2.66h-3zm-.86-.9l-3.18 5.57h1.44l.62-1.1h4l.63 1.1h1.4l-3.14-5.56zM30.28 26.64l.02 4.63-4.17-4.63h-1.99v5.56h1.24l-.03-4.6 4.16 4.6h2l-.01-5.56h-1.22z" />
  <g class="cls-3">
    <path class="cls-4"
      d="M39.12 31.18a2 2 0 0 0 1-.19c.32-.17.46-.6.46-1.45 0-1.55-.25-1.86-1.45-1.86h-3.19v3.49zm-4.47-4.54h4.62a2.76 2.76 0 0 1 2.12.61 3.33 3.33 0 0 1 .48 2.24c0 1.24-.16 1.85-.59 2.24a2.77 2.77 0 0 1-1.87.48h-4.75zM46 30.43v.06c0 .36.07.55.22.64a3.45 3.45 0 0 0 1.46.17 14.17 14.17 0 0 0 1.72-.1.69.69 0 0 0 .6-.2.81.81 0 0 0 .16-.47c0-.33-.14-.49-.52-.57a8.62 8.62 0 0 0-1.76-.06h-.8c-1.18 0-1.64-.1-2-.38a1.35 1.35 0 0 1-.39-1.08 1.8 1.8 0 0 1 .42-1.35c.37-.35 1.22-.49 3.06-.49a7.81 7.81 0 0 1 2.1.16c.69.2.93.57.93 1.43v.11H50c0-.32-.09-.49-.26-.57a4.09 4.09 0 0 0-1.39-.18 6.42 6.42 0 0 0-2 .19.57.57 0 0 0-.3.55.49.49 0 0 0 .23.49 3.12 3.12 0 0 0 1.39.14h.94c1.67 0 2.17.09 2.52.46a1.56 1.56 0 0 1 .35 1.16 1.63 1.63 0 0 1-.4 1.25c-.37.35-1.09.47-3 .47s-2.63-.09-3-.42a1.43 1.43 0 0 1-.36-1.1v-.29zM61.19 30.19v.09c0 .79-.08 1.18-.31 1.43-.39.43-.91.53-2.72.53-2.22 0-2.63 0-3.12-.31a1.31 1.31 0 0 1-.63-.9 8.25 8.25 0 0 1-.12-1.72c0-1.55.16-2.07.74-2.4s1-.33 2.81-.33 2.57.1 2.92.5a2.08 2.08 0 0 1 .37 1.41H59.9c0-.8-.17-.88-2-.88a4.56 4.56 0 0 0-1.94.18c-.32.16-.39.47-.39 1.67 0 1.62.14 1.75 1.87 1.75h1.7c.6-.06.81-.28.81-.86v-.12z" />
  </g>
  <path class="cls-4"
    d="M67.54 27.52l1.51 2.66h-3zm-.85-.9l-3.19 5.57h1.44l.62-1.1h4l.63 1.1h1.4l-3.13-5.56z" />
  <path class="cls-3 cls-4"
    d="M78.07 29.45c.9 0 1.13-.18 1.13-.86s-.21-.94-1.07-.94h-2.92v1.8zm-4.13-2.83h4.34a4 4 0 0 1 1.28.11c.69.21.93.67.93 1.79 0 .85-.13 1.32-.47 1.61s-.72.35-1.59.35h-3.22v1.7h-1.27z" />
  <path class="cls-4"
    d="M83.35 26.62v5.56h5.96v-.98h-4.69v-1.41l4.42-.01v-.87h-4.42v-1.32h4.64v-.98l-5.91.01z" />
  <path class="cls-3 cls-4"
    d="M100.45 31.16a2 2 0 0 0 1-.19c.33-.17.46-.6.46-1.46 0-1.54-.24-1.85-1.44-1.85h-3.21v3.5zM96 26.61h4.62a2.84 2.84 0 0 1 2.12.61 3.34 3.34 0 0 1 .47 2.23c0 1.25-.15 1.85-.58 2.25a2.74 2.74 0 0 1-1.88.47H96z" />
  <path class="cls-4"
    d="M106.18 26.61v5.56h5.96v-.98h-4.7v-1.41l4.42-.01v-.87h-4.42v-1.31l4.65-.01v-.97h-5.91z" />
  <path class="cls-3 cls-4"
    d="M116.21 30.41v.06c0 .35.07.55.23.64a3.75 3.75 0 0 0 1.45.16 11.09 11.09 0 0 0 1.73-.1.86.86 0 0 0 .57-.21.78.78 0 0 0 .17-.48c0-.32-.14-.48-.53-.57a8 8 0 0 0-1.76-.05h-.8c-1.17 0-1.63-.1-1.94-.39a1.3 1.3 0 0 1-.39-1.07 1.86 1.86 0 0 1 .41-1.36c.38-.35 1.23-.48 3.06-.49a8.76 8.76 0 0 1 2.11.16c.69.2.93.58.93 1.44v.1h-1.25c0-.33-.09-.5-.27-.58a3.8 3.8 0 0 0-1.38-.17 6.42 6.42 0 0 0-2 .19.55.55 0 0 0-.3.54.5.5 0 0 0 .24.49 3.08 3.08 0 0 0 1.38.14h.94c1.67 0 2.18.09 2.53.47a1.61 1.61 0 0 1 .34 1.16 1.63 1.63 0 0 1-.4 1.25c-.36.35-1.08.47-3 .47s-2.62-.1-3-.43a1.43 1.43 0 0 1-.36-1.1v-.28z" />
  <path class="cls-4"
    d="M124.62 26.6h1.28v5.56h-1.28z" />
  <path class="cls-3 cls-4"
    d="M136.06 29.18v.59a3.41 3.41 0 0 1-.25 1.76 1.32 1.32 0 0 1-.88.59 14.31 14.31 0 0 1-2.45.09A9.39 9.39 0 0 1 130 32a1.35 1.35 0 0 1-.93-1.12 7.26 7.26 0 0 1-.09-1.47c0-1.47.09-1.94.45-2.33a1.58 1.58 0 0 1 1-.46 19.31 19.31 0 0 1 2.74-.1c1.63 0 2.21.12 2.56.51a2 2 0 0 1 .36 1.32h-1.26c0-.35-.05-.48-.21-.61s-.5-.2-1.58-.2c-2 0-2.32 0-2.54.29s-.23.57-.23 1.43c0 1.09.07 1.46.3 1.66s.56.26 2.07.26 1.82 0 2.07-.39a1.35 1.35 0 0 0 .15-.79h-2.47v-.85z" />
  <path class="cls-4"
    d="M145.22 26.59l.02 4.63-4.18-4.63-1.99.01v5.56h1.25l-.03-4.61 4.15 4.61 2-.01v-5.56h-1.22z" />
  <g class="cls-3">
    <path class="cls-4"
      d="M155.1 29.4h-.16a.74.74 0 0 0-.52.23 1.13 1.13 0 0 0-.17.74c0 .38.07.57.27.69a5.63 5.63 0 0 0 2 .18c1.17 0 1.6 0 1.79-.2zm4.22 2.17c-.39.46-.88.58-2.28.58a10.37 10.37 0 0 1-3.24-.24c-.55-.25-.74-.62-.74-1.49 0-1.12.3-1.45 1.37-1.48a1 1 0 0 1-.69-1.11c0-.71.22-1 .79-1.18a10.15 10.15 0 0 1 1.91-.1c2.44 0 2.77.19 2.77 1.57v.16h-1.15v-.13a.61.61 0 0 0-.25-.57c-.19-.09-.2-.09-1.25-.11-1.26 0-1.26 0-1.47.1a.44.44 0 0 0-.18.38c0 .25.12.38.54.6l3.15 1.63a3.53 3.53 0 0 0 0-.46 3.38 3.38 0 0 0 0-.45h1.14a1 1 0 0 1 0 .25 5.92 5.92 0 0 1-.1 1.19l1.2.62-.38.83zM174 30.14v.1c0 .79-.08 1.18-.31 1.43-.39.43-.91.53-2.72.53-2.22 0-2.63-.05-3.12-.31a1.38 1.38 0 0 1-.64-.9 9 9 0 0 1-.11-1.72c0-1.55.16-2.08.74-2.4s1-.33 2.81-.34c1.92 0 2.57.11 2.92.5a2.17 2.17 0 0 1 .36 1.42h-1.22c0-.81-.17-.88-2-.88a4.68 4.68 0 0 0-2 .17c-.31.17-.38.48-.38 1.68 0 1.62.14 1.74 1.87 1.74h1.7c.6-.06.81-.29.81-.86v-.13zM178.15 29.37c0 1.08.08 1.43.39 1.59s.58.19 2.17.19c1.43 0 1.79-.06 2-.31s.25-.57.25-1.51c0-1.74 0-1.76-2.42-1.76s-2.41 0-2.41 1.8m5.67-2.3a2 2 0 0 1 .41 1.18v1.17c0 1.4-.13 1.93-.56 2.3a2.27 2.27 0 0 1-1.42.45h-2c-1.71 0-2.16-.05-2.64-.31a1.39 1.39 0 0 1-.68-1.13 10.39 10.39 0 0 1-.07-1.58c0-1.3.12-1.81.52-2.16a2.23 2.23 0 0 1 1.41-.46h2.14c2 0 2.49.1 2.91.55" />
  </g>
  <path class="cls-4"
    d="M193.42 26.57l.03 4.63-4.18-4.62h-1.99v5.56h1.24l-.03-4.6 4.16 4.6h2v-5.57h-1.23z" />
  <path class="cls-3 cls-4"
    d="M198.92 30.38v.05c0 .36.07.55.23.65a3.75 3.75 0 0 0 1.45.16 11.09 11.09 0 0 0 1.73-.1.85.85 0 0 0 .57-.22.73.73 0 0 0 .17-.47c0-.33-.14-.48-.53-.57a8.62 8.62 0 0 0-1.76-.06H200c-1.17 0-1.63-.09-1.94-.38a1.3 1.3 0 0 1-.39-1.07 1.86 1.86 0 0 1 .41-1.36c.38-.35 1.23-.49 3.06-.49a7.81 7.81 0 0 1 2.1.16c.7.2.94.58.94 1.43v.11h-1.25c0-.32-.09-.49-.27-.57a4 4 0 0 0-1.38-.18 6.42 6.42 0 0 0-2 .2.55.55 0 0 0-.3.54.5.5 0 0 0 .24.49 3.08 3.08 0 0 0 1.38.14h.94c1.67 0 2.18.09 2.53.47a1.61 1.61 0 0 1 .34 1.16 1.63 1.63 0 0 1-.4 1.25c-.37.35-1.08.46-3 .46s-2.62-.09-3-.42a1.43 1.43 0 0 1-.36-1.1v-.28z" />
  <path class="cls-4"
    d="M206.84 26.57v1.04h2.62v4.52h1.29l-.01-4.52h2.61v-1.04h-6.51z" />
  <g class="cls-3">
    <path class="cls-4"
      d="M220.38 29.37c.93 0 1.17-.17 1.17-.84s-.19-.92-1.14-.92h-3.08v1.76zm-4.33-2.8h4.71c1 0 1.42.11 1.72.44a1.91 1.91 0 0 1 .36 1.33 1.82 1.82 0 0 1-.24 1.16 1 1 0 0 1-.7.37c.7.06.86.27.85 1.16v1.1h-1.29v-.84c0-.76-.19-.91-1-.9h-3.09v1.74h-1.27zM232.72 26.56v3.5c0 1.06-.17 1.49-.7 1.8s-1 .32-2.92.32-2.51-.11-2.91-.57-.37-.71-.37-1.74v-3.31h1.28v2.91a4.18 4.18 0 0 0 0 1c.09.59.42.7 2.09.7a11.14 11.14 0 0 0 1.63-.09.67.67 0 0 0 .55-.63 6.46 6.46 0 0 0 0-.88v-3zM242.6 30.12v.09c0 .79-.08 1.18-.32 1.43-.38.43-.9.53-2.71.53-2.22 0-2.63 0-3.12-.31a1.32 1.32 0 0 1-.64-.9 9 9 0 0 1-.11-1.72c0-1.55.15-2.07.74-2.4s1.05-.33 2.81-.33c1.92 0 2.57.11 2.92.5a2.13 2.13 0 0 1 .36 1.41h-1.22c0-.81-.17-.89-2-.89a4.59 4.59 0 0 0-1.95.18c-.31.17-.38.47-.38 1.67 0 1.62.13 1.75 1.87 1.75h1.7c.6-.06.81-.28.81-.86v-.12z" />
  </g>
  <path class="cls-4"
    d="M245.15 26.56v1.04h2.62v4.52h1.28V27.6h2.61v-1.05l-6.51.01zM254.36 26.55h1.28v5.56h-1.28z" />
  <path class="cls-3 cls-4"
    d="M260 29.34c0 1.08.08 1.43.39 1.59s.58.19 2.17.19c1.43 0 1.79-.06 2-.31s.25-.57.25-1.51c0-1.74 0-1.76-2.42-1.76s-2.41 0-2.41 1.8m5.67-2.3a2 2 0 0 1 .41 1.18v1.17c0 1.39-.13 1.93-.56 2.3a2.21 2.21 0 0 1-1.42.45H262c-1.7 0-2.16 0-2.64-.31a1.41 1.41 0 0 1-.68-1.13 10.39 10.39 0 0 1-.07-1.58c0-1.3.13-1.81.53-2.17a2.27 2.27 0 0 1 1.4-.45h2.14c2 0 2.49.1 2.91.55" />
  <path class="cls-4"
    d="M275.25 26.55l.03 4.62-4.18-4.62h-1.99v5.56h1.24l-.02-4.61 4.15 4.61 2-.01v-5.56l-1.23.01z" />
</svg>