<div class="about" id="about">
  <div class="container spacer">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column align-items-center mb-4">
        <h2>OVER 40 YEARS OF HIGH-QUALITY, CREATIVE, AND OUTSTANDING WORK!</h2>
        <span class="green-allcaps">ABOUT</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 about__description">
        <p>
          Whittemores Landscape Design & Construction was established in 1979
          and has provided exceptional service to its customers for over 40
          years. Our experienced team is well equipped for a broad spectrum of
          landscape design and construction projects. If you have a vision for a
          dream space that you are finally ready to make a reality, we’d love to
          talk. If you are looking for consultation to improve your property’s
          landscape design, we are ready to connect and develop a project plan.
          We look forward to discussing your next project.
        </p>
      </div>
    </div>
    {#
    <div class="about__team spacer pb-0">
      <div class="row">
        <div class="col-lg-12">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 about__team-member">
              <img
                class="d-block"
                src="https://via.placeholder.com/1920x1080"
                alt=""
              />
            </div>
            <div class="col-lg-3 about__team-member">
              <img
                class="d-block"
                src="https://via.placeholder.com/1920x1080"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    #}
  </div>
</div>
