<div class="container">
  <div class="row">
    <div class="col-lg-12 position-relative">
      <div id="hero"
        class="hero">
        <img class="anniversary-logo-img"
          src="https://via.placeholder.com/1920x1080"
          alt="40th Anniversary Logo">
      </div>
    </div>
  </div>
</div>