<div class="our-work"
  id="our-work">
  <div class="container spacer">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column align-items-center">
        <h2>OUR WORK</h2>
      </div>
    </div>
  </div>


  <nav>
    <div class="nav nav-tabs d-flex align-items-center justify-content-center"
      id="nav-tab"
      role="tablist">
      <a class="our-work__nav-link active"
        id="outdoor-lighting-tab"
        data-toggle="tab"
        href="#outdoor-lighting"
        role="tab"
        aria-controls="outdoor-lighting"
        aria-selected="true">
        <span>OUTDOOR LIGHTING</span>
      </a>
      <a class="our-work__nav-link"
        id="water-gardens-tab"
        data-toggle="tab"
        href="#water-gardens"
        role="tab"
        aria-controls="water-gardens"
        aria-selected="false">
        <span>WATER GARDENS</span>
      </a>
      <a class="our-work__nav-link"
        id="patios-tab"
        data-toggle="tab"
        href="#patios"
        role="tab"
        aria-controls="patios"
        aria-selected="false">
        <span>PATIOS</span>
      </a>
      <a class="our-work__nav-link"
        id="walkways-tab"
        data-toggle="tab"
        href="#walkways"
        role="tab"
        aria-controls="walkways"
        aria-selected="false">
        <span>WALKWAYS</span>
      </a>
      <a class="our-work__nav-link"
        id="walls-tab"
        data-toggle="tab"
        href="#walls"
        role="tab"
        aria-controls="walls"
        aria-selected="false">
        <span>WALLS</span>
      </a>
      <a class="our-work__nav-link"
        id="other-projects-tab"
        data-toggle="tab"
        href="#other-projects"
        role="tab"
        aria-controls="other-projects"
        aria-selected="false">
        <span>OTHER PROJECTS</span>
      </a>
    </div>
  </nav>

  <div class="tab-content"
    id="nav-tabContent">
    <div class="tab-pane fade show active"
      id="outdoor-lighting"
      role="tabpanel"
      aria-labelledby="outdoor-lighting-tab">
      {% include "partials/gallery.twig" with {'gallery': 'outdoor-lighting'} %}
    </div>
    <div class="tab-pane fade"
      id="water-gardens"
      role="tabpanel"
      aria-labelledby="water-gardens-tab">
      {% include "partials/gallery.twig" with {'gallery': 'water-gardens'} %}
    </div>
    <div class="tab-pane fade"
      id="patios"
      role="tabpanel"
      aria-labelledby="patios-tab">
      {% include "partials/gallery.twig" with {'gallery': 'patios'} %}
    </div>
    <div class="tab-pane fade"
      id="walkways"
      role="tabpanel"
      aria-labelledby="walkways-tab">
      {% include "partials/gallery.twig" with {'gallery': 'walkways'} %}
    </div>
    <div class="tab-pane fade"
      id="walls"
      role="tabpanel"
      aria-labelledby="walls-tab">
      {% include "partials/gallery.twig" with {'gallery': 'walls'} %}
    </div>
    <div class="tab-pane fade"
      id="other-projects"
      role="tabpanel"
      aria-labelledby="other-projects-tab">
      {% include "partials/gallery.twig" with {'gallery': 'other-projects'} %}
    </div>
  </div>

</div>