<div class="services"
  id="services">
  <div class="container spacer">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column align-items-center">
        <h2>SERVICES</h2>
      </div>
      <div class="col-lg-10 offset-lg-1">
        <p class="mb-0 services__description">
          Whittemores specializes in the comprehensive design and expert construction/installation of outdoor living
          areas, providing unique and thoughtful solutions to all of your landscaping and outdoor entertainment needs,
          including but not limited to the following:
        </p>
      </div>
    </div>
  </div>

  <div class="service-description">
    <div class="container spacer">
      <div class="row">
        <div class="col-lg-4">
          <ul class="service__list d-flex align-items-center flex-column">
            <li class="service__list-item">OUTDOOR KITCHENS</li>
            <li class="service__list-item">FIREPLACES</li>
            <li class="service__list-item">FIRE PITS</li>
            <li class="service__list-item">PIZZA OVENS</li>
            <li class="service__list-item">LANDSCAPE LIGHTING</li>
            <li class="service__list-item">PATIOS</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <ul class="service__list d-flex align-items-center flex-column">
            <li class="service__list-item">WALKS</li>
            <li class="service__list-item">WALLS</li>
            <li class="service__list-item">WATER GARDENS</li>
            <li class="service__list-item">WATER FEATURES</li>
            <li class="service__list-item">WATER PLAY AREAS</li>
            <li class="service__list-item">WATER PARKS</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <ul class="service__list d-flex align-items-center flex-column">
            <li class="service__list-item">TRAIN GARDENS</li>
            <li class="service__list-item">CREATIVE PLANTINGS</li>
            <li class="service__list-item">PUTTING GREENS</li>
            <li class="service__list-item">LAWN CONSTRUCTION</li>
            <li class="service__list-item">LAWN RENOVATION</li>
            <li class="service__list-item">IRRIGATION SYSTEMS</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex align-items-center flex-column">
          <p class="service__list-messaging"><b>
              Authorized Unilock Installer. Authorized Design and Installer of Cast Lighting. Massachusetts Certified
              Landscape Professional.</b>
          </p>
        </div>
      </div>

      <div class="row align-items-center justify-content-center">
        <div class="col-lg-2">
          <div class="service__certification-logo">
            <img class="d-block w-100"
              src="https://via.placeholder.com/1920x1080"
              alt="">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="service__certification-logo">
            <img class="d-block w-100"
              src="https://via.placeholder.com/1920x1080"
              alt="">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="service__certification-logo">
            <img class="d-block w-100"
              src="https://via.placeholder.com/1920x1080"
              alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>