{% extends "base.twig" %}

{% block content %}
  {% include 'partials/navbar.twig' %}
  {% include 'sections/hero.twig' %}
  <div class="container we-are-hiring" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-10 offset-md-1 d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-center">We're Hiring</h1>

            <p class="text-center">Please fill out the form below to apply for one of our opened positions.</p>
          </div>
      <div class="col-md-10 offset-md-1">
        {{post.content}}
      </div>
    </div>
  </div>
  {% include 'partials/footer.twig' %}
{% endblock %}
